body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right, white, black);
}

.calculator {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 15px;
}

.display {
  text-align: right;
  padding: 10px;
  background-color: #eee;
}

.display input {
  width: 80%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1.5em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

button {
  padding: 10px;
  font-size: 1.2em;
  background-color: #231d1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
